.Node {
  text-align: left;
}

.Node__titlerow {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.Node__title {
  font-size: 19pt;
  display: inline-block;
  color: gray;
}

.Node__title--focus {
  color: black;
  outline-width: 0;
}

.Node__expandsign {
  font-size: 16pt;
  min-width: 15px;
  color: gray;
}

.Node__titledot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: gray;
  margin-right: 10px;
}

.Node__titledot--focus {
  background-color: black;
}


.Node__childcontainer {
  padding-left: 30px;
}
