.Node {
  text-align: left;
}

.Node__titlerow {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.Node__title {
  font-size: 19pt;
  display: inline-block;
  color: gray;
  outline-width: 0;
  border: 0px;
  padding: 0px;
  width: 100%;
}

.Node__title--focus {
  color: black;
}

.Node__title--strikethrough {
  text-decoration: line-through;
}

.Node__doticon {
  color: gray;
  margin-right: 5px;
}

.Node__doticon--focus {
  color: black;
}

.Node__titledot--focus {
  background-color: black;
}

.Node__childcontainer {
  padding-left: 30px;
  padding-bottom: 10px;
}
